<div class ="container">
	<p>
	  <strong>Name:</strong>
	  <%= @group.name %>
	</p>
	
	<p>
	  <strong>Status:</strong>
	  <%= @group.status %>
	</p>
	
	<p>
	  <strong>User:</strong>
	  <%= @group.user %>
	</p>
	
<div>